body{
    background-image: url("../img/background.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.wrapper {
    width: 1060px;
    margin: 0 auto;
}

.left-content{
    float: left;
}
.left-content.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.left-content-link{
    text-decoration: none;
}
.first-img{
    width: 46px;
    float: left;
    margin-top: 17px;
    margin-right: 15px;

}
.first-img.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.left-content-text-1{
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
}
.left-content-text-2{
    font-size: 18px;
}
.left-content-text-1:hover{
    color: orange;
}
.first-img:hover{
    background-color: orange;
}
.right-content{
    float: right;
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
.right-content:after{
    content: "";
    clear: both;
    display: block;
}
.tel{
    text-align: right;
}
.main-content-top{
    display: inline-block;
}
.main-content-tours {
    display: inline-block;
    margin-right:65px;
    text-decoration: none;
}
img{
    width: 307px;
}
 .main-content-tours:last-child{
     margin-right: 0;
 }
 .main-content-bottom{
     display: inline-block;

 }
 .main-content-text{
     font-family: Verdana,sans-serif;
     color:  #ffffff;
     font-size: 18px;
     font-weight: 400;
     line-height: 21px;
     text-align: center;
     text-decoration: none;
 }
.orange-content{
    background-color: orange;
    border: 1px solid orange;
    padding: 9px 0;
    margin: -108px 0;
    width: 307px;
    position: absolute;
    opacity: 0;
}
.orange-content:hover{
    content: "";
    opacity: 1;
}
.price{
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
    font-weight: 900;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    float: left;
}
.price:before{
    content:"€";
    color: green;
}
.price:after{
    content: "from";
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 20px;
}

.details{
    float: right;
    color: white;
}
.details:after{
    content:">";
}
.main-content-text:hover {
    color: orange;
}
.gradient {
    width: 1060px;
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px,
    #F8463F 20px, #F8463F 30px,transparent 30px, transparent 40px);
}
.end-content{
    font-family: Verdana,sans-serif;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
